.vscode
*.jl.*.cov
*.jl.cov
*.jl.mem
*package-lock.json
*package.json
*Manifest.toml
/docs/build/
/docs/src/generated/
/docs/node_modules/
/scratch/
/Paper/
*output/

# Vim swap
*.swp

# Mac OS
*.DS_Store
docs/make.jl
