name: CompatHelper

on:
  schedule:
    - cron: 0 0 * * *
  workflow_dispatch:

jobs:
  CompatHelper:
    runs-on: ubuntu-latest
    steps:
      - name: Pkg.add("CompatHelper")
        run: julia -e 'using Pkg; Pkg.add("CompatHelper")'
      - name: CompatHelper.main()
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          COMPATHELPER_PRIV: ${{ secrets.DOCUMENTER_KEY }}
        shell: julia --color=yes {0}
        run: |
          using CompatHelper
          CompatHelper.main(;
              entry_type = DropEntry(),
              subdirs = [
                  "",
                  "docs",
                  "test",
                  "examples",
                  "lib/NeuralClosure",
                  "lib/NeuralClosure/test",
                  "lib/SciMLCompat",
                  "lib/PaperDC",
                  "lib/SymmetryClosure",
              ],
          )
